@media(width>1440px) {
    .cont {
        width: 1440px;
        height: auto;
    }

    .maintab {
        display: none;
    }

    .maindes {
        display: inline;
        position: relative;
        left: -7%;
    }

    .showdes {
        display: inline;
        width: 450px;
        height: 800px;
        background-color: #151515;

    }

    header {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .hide {
        display: none;
    }

    .headtxt {
        width: 350px;
        height: 291px;
        position: relative;
        top: 30%;
        left: -38%;
    }

    .p1 {
        font-size: 22px;
        margin: 0;
    }

    button {
        margin-top: 64px;
    }

    h4 {
        display: inline;
        font-size: 96px;
        line-height: 90%;
        color: white;
        z-index: 1;
        position: relative;
        top: 190px;
        left: 165px;
    }

    .blackN {

        font-weight: bold;
        background: linear-gradient(to left,
                #151515 0%,
                #151515 50%,
                white 50%,
                white 50%);

        -webkit-background-clip: text;
        color: transparent;
    }

    .black {
        color: #151515;
    }

    main {
        width: 1110px;
        margin-top: 180px;
    }

    .hall2tab,
    .hall1tab,
    .chairtab {
        display: none;
    }

    .hall2des,
    .hall1des,
    .chairdes {
        display: inline;
    }

    .mainbox2 {
        margin-top: 32px;
    }

    .mainbox2txt {
        width: 445px;
        height: 377px;
        margin-top: 28px;
    }

    .mainbox1txt {
        width: 350px;
        height: 276px;
        order: -1;

    }

    h2 {
        font-size: 58px;
        height: 120px;
        width: 277px;

    }

    .p2 {
        width: 310px;
        font-size: 22px;
    }

    h3 {
        font-size: 60px;
    }

    .p3 {
        font-size: 22px;
    }

    footer {
        width: 100%;
        height: 244px;
        padding: 80px 165px;
        gap: 350px;
    }

    .lastps {
        width: 730px;
        height: 75px;

    }

    .p4 {
        font-size: 34px;
    }

    .p5 {
        width: 430px;
        height: 75px;
    }

    button {
        pointer-events: all;
        cursor: pointer;
    }

    button:hover .btn1 {
        background-color: #D5966C;
    }

    button:hover .btn2 {

        background-color: #151515;
    }

    button:focus .btn1 {
        background-color: #151515;
    }

    button:focus .btn2 {
        background-color: #D5966C;
    }

    button:focus {
        outline: 6px solid #D5966C;
        outline-offset: 4px;
    }

    .icons:hover {
        scale: 1.5;
    }

    a:focus {
        outline: 4px solid #D5966C;
        outline-offset: 4px;
    }  
     button:hover .btn1 {
        background-color: #D5966C;
    }

    button:hover .btn2 {

        background-color: #151515;
    }

    button:focus .btn1 {
        background-color: #151515;
    }

    button:focus .btn2 {
        background-color: #D5966C;
    }

    button:focus {
        outline: 6px solid #D5966C;
        outline-offset: 4px;
    }

    .icons:hover {
        scale: 1.5;
    }

    a:focus {
        outline: 4px solid #D5966C;
        outline-offset: 4px;
    }
}
